<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Parrot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6D50C0E1F6A0B8E0085C812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D50C201F6A0B8F0085C812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D50C2B1F6A0B8F0085C812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
